<%- include('inc/header.ejs') %>
   

    <section class="slider">
        <div class="container">
            <div class="slider__inner">

                <div class="slider__item">
                    <div class="slider__item-title">
                        ЛУЧШИЕ КНИГИ ВО ВСЁМ МИРЕ
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-title">
                        ЛУЧШИЕ КНИГИ ВО ВСЁМ МИРЕ
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-title">
                        ЛУЧШИЕ КНИГИ ВО ВСЁМ МИРЕ
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-title">
                        ЛУЧШИЕ КНИГИ ВО ВСЁМ МИРЕ
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-title">
                        ЛУЧШИЕ КНИГИ ВО ВСЁМ МИРЕ
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="top">
        <div class="container">
            <div class="top__title">
                ТОП в разных жанрах
            </div>
            <div class="top__inner">

                <div class="top__inner-item">
                    <a href="book_page"><img src="/images/slider/item-1.jpg" alt=""></a>
                    <form action=""></form>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="/images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="/images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="/images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="top__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <section class="bestsellers">
        <div class="container">
            <div class="bestsellers__title">
                Бестселлеры
            </div>
            <div class="bestsellers__inner">

                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="bestsellers__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <section class="hot">
        <div class="container">
            <div class="hot__title">
                Горячие новинки
            </div>
            <div class="hot__inner">

                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="hot__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <%- include('inc/footer.ejs') %>