<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>ElecLib</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
    <script src="/js/smoothScroll.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="/">
                        <span>Elec</span>Lib
                    </a>

                </div>
                <nav class="header__menu">
                    <div class="header__menu-btn">
                        <div class="header__menu-row"></div>
                        <div class="header__menu-row"></div>
                        <div class="header__menu-row"></div>
                    </div>
                    <ul>
                        <li class="header__drop-down drop-down"><a href="#">
                                ЖАНРЫ
                            </a>
                            <ul class="drop-down__list">
                                <li><a href="/fantasy">Фэнтези</a></li>
                                <li><a href="/fantastic">Фантастика</a></li>
                                <li><a href="/adventure">Приключения</a></li>
                                <li><a href="/mystic">Мистика</a></li>
                            </ul>
                        </li>
                        <li class="header__link-blog"><a href="/new">НОВИНКИ</a></li>
                        <li class="header__link-blog"><a href="/popular">ПОПУЛЯРНОЕ</a></li>
                        <li class="header__link-blog open-popup"><a href="/login">АВТОРИЗАЦИЯ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    

    

    <div class="login__bg">
        <div class="login__block">
            <form action="/login" method="POST">
        <% if (messages.error) { %>
        <%= messages.error %>
        <% } %>
                    <input class="login-form" type="login" id="login" name="login" placeholder="Введите логин" required>
                    
                    <input class="login-form" type="password" id="password" name="password" placeholder="Введите пароль" required>
                    <input class="login-form" type="submit" name="enter" value="Войти">
            </form>
            <a href="/register" class="login-reg">Зарегистрироваться</a>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">

                <div class="footer__item footer__item-content">
                    <div class="footer__items-title">
                        О нас
                    </div>
                    <div class="footer__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at ultricies nisl. Integer at leo eros. Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. 
                    </div>
                </div>

                <div class="footer__item footer__item-list">
                    <div class="footer__items-title">
                        Справка
                    </div>
                    <ul class="footer__list">
                        <li><a href="#">Политика обработки
                            персональных данных</a></li>
                        <li><a href="#">Условия использования 
                            сайта</a></li>
                    </ul>
                </div>

                <div class="footer__item footer__item-contact">
                    <div class="footer__items-title">
                        Связаться с нами
                    </div>
                    <div class="footer__address">
                        <span>ElecLib Inc.</span>
                        просп. Автостроителей, 63
                        Димитровград, Россия
                    </div>
                    <div class="footer__phone">
                        Телефон: <a href="tel:+7 (84235) 4-69-52">+7 (84235) 4-69-52</a> 
                        +7 (84235) 4-69-05
                    </div>
                </div>
                
                <div class="footer__item footer__item-social">
                    <div class="footer__items-title">
                        Мы в
                    </div>
                    <ul class="footer__social">
                        <li><a href="#"><img src="../images/social/item-1.png" alt=""></a></li>
                        <li><a href="#"><img src="../images/social/item-2.png" alt=""></a></li>
                        <li><a href="#"><img src="../images/social/item-3.png" alt=""></a></li>
                    </ul>
                </div>

            </div>


            <div class="footer__bottom">
                <div class="footer__copy">
                    © Copyright 2022 - ElecLib Inc. All rights reserved. Some free icons used here are created by
                    flaticon.com. Client Logos are copyright and trademark of the respective owners / companies.
                </div>
                <div class="footer__logo">
                    <a href="/">
                        <span>Elec</span>Lib
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- <div class="popup-bg step1" id="step-one">
        <div class="popup">
            <img class="close-popup" src="../images/close.png" alt="icon">
          
            <form action="validation-form/auth.php" method="post">
                <input class="popup-form" type="login" name="login" placeholder="Введите логин">
                <input class="popup-form" type="password" name="password" placeholder="Введите пароль">
                <input class="popup-form" type="submit" name="enter" value="Войти">
            </form>
            <a class="popup-forgot" href="#">Забыли пароль?
            <a href="#step-two" class="popup-reg" onclick="nextStep(1)">Зарегистрироваться</a>
        </div>
    </div>

    <div class="popup-bg_two step2" id="step-two">
        <div class="popup_two">
            <img class="close-popup_two" src="../images/close.png" alt="icon">
          
            <form action="validation-form/check.php" method="post">
                <input class="popup-form_two" type="login" name="login" placeholder="Введите логин">
                <input class="popup-form_two" type="password" name="password" placeholder="Введите пароль">
                <input class="popup-form_two" type="password" name="povtor" placeholder="Повторите пароль">
                <input class="popup-form_two" type="submit" name="next" value="Продолжить">
            </form>
            <a class="popup-login" href="#step-one" onclick="nextStep(2)">Войти</a>
        </div>
    </div> -->

<!-- 
    <script>
        function nextStep($step) {
        if ($step == 1) {
          $("#step-one").hide();
          $("#step-two").show();
    
        } else if ($step == 2) {
          $("#step-two").hide();
          $("#step-one").show();
        }
      }
    </script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>