<%- include('../inc/header.ejs') %>
    <section class="fantasy">
        <div class="container">
            <div class="fantasy__title">
                Фэнтези
            </div>
            <div class="fantasy__inner">

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <section class="fantasy">
        <div class="container">
            <div class="fantasy__inner">

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>
    <section class="fantasy">
        <div class="container">
            <div class="fantasy__inner">

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>
    <section class="fantasy">
        <div class="container">
            <div class="fantasy__inner">

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="fantasy__inner-item">
                    <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <%- include('../inc/footer.ejs') %>