<%- include('inc/header.ejs') %>

    <section class="new">
        <div class="container">
            <div class="new__title">
                Новинки
            </div>
            <div class="new__inner">

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <section class="new">
        <div class="container">
            <div class="new__inner">

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>
    <section class="new">
        <div class="container">
            <div class="new__inner">

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>
    <section class="new">
        <div class="container">
            <div class="new__inner">

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="new__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <%- include('inc/footer.ejs') %>