<%- include ../inc/header.ejs%>

    <section class="popular">
        <div class="container">
            <div class="popular__title">
                Популярное
            </div>
            <div class="popular__inner">

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>

    <section class="popular">
        <div class="container">
            <div class="popular__inner">

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>
    <section class="popular">
        <div class="container">
            <div class="popular__inner">

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>
    <section class="popular">
        <div class="container">
            <div class="popular__inner">

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>
                <div class="popular__inner-item">
                    <a href="#"><img src="images/slider/item-1.jpg" alt=""></a>
                    <p>Фэнтези</p>
                    <p>Гарри Поттер и</p>
                    <p>тайная комната</p>
                    <p>Роман Джоан Роулинг</p>
                </div>

            </div>
        </div>
    </section>
    <%- include ../inc/footer.ejs%>